/* this should be loaded from @liveblocks/react-comments/dark/attributes.css, but we need to fix the webpack build for that */

.lb-root:where(:is(.dark, [data-theme='dark'], [data-dark])),
:is(.dark, [data-theme='dark'], [data-dark]) :where(.lb-root) {
  --lb-accent: #4af;
  --lb-background: transparent;
  --lb-foreground: #fff;
  --lb-elevation-background: #333;
  --lb-tooltip-background: #333;
  --lb-accent-contrast: 16%;
  --lb-foreground-contrast: 10%;
  --lb-elevation-foreground-contrast: 10%;
  --lb-tooltip-foreground-contrast: 10%;
  --lb-inset-shadow: inset 0 0 0 1px #ffffff0f;
  --lb-elevation-shadow: 0 0 0 1px #0000000a, 0 2px 6px #00000014, 0 8px 26px #0000001f;
  --lb-tooltip-shadow: 0 2px 4px #00000014, 0 4px 12px #0000001f;
  color-scheme: dark;
}
