input.icon-checkbox {
  display: inline-block;
  height: 22px;
  width: 100%;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
	background-size: 16px 16px;
}

/* check status */
input.icon-checkbox:checked {
	background-image: url('/editor/icons/icon-layout-arLock-locked-gray-16x16@2x.png');
}

input.icon-checkbox:checked.widget-status-controlled-nodegraph{
	background-image: url('/editor/icons/icon-layout-arLock-locked-blue-16x16@2x.png');
}

input.icon-checkbox:checked.widget-status-controlled-component {
	background-image: url('/editor/icons/icon-layout-arLock-locked-purple-16x16@2x.png');
}

input.icon-checkbox:not(:checked) {
	background-image: url('/editor/icons/icon-layout-arLock-unlocked-gray-16x16@2x.png');
}

input.icon-checkbox:not(:checked).widget-status-controlled-nodegraph{
	background-image: url('/editor/icons/icon-layout-arLock-unlocked-blue-16x16@2x.png');
}

input.icon-checkbox:not(:checked).widget-status-controlled-component {
	background-image: url('/editor/icons/icon-layout-arLock-unlocked-purple-16x16@2x.png');
}

input.icon-checkbox:indeterminate {
	background-image: url('/editor/icons/icon-layout-arLock-indeterminate-gray-16x16@2x.png');
}

input.icon-checkbox.widget-status-off,
input.icon-checkbox.widget-status-disabled {
	background-color: none;
	cursor: inherit;
}
