# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

node_modules

## Build generated
build/
dist/
DerivedData
editor/build
editor/node_modules
editor/components/autogen.js
Resources/Web
editor/lib
editor/dist
editor/devlog.*
editor/editorlog.*
editor/testlog.*
editor/coverage

## Sub Projects
UtopiaComponent/node_modules
UtopiaComponent/resources/icons/momentum-icon.png
UtopiaComponent/resources/application.js
UtopiaComponent/resources/application.css
UtopiaComponent/resources/application.html
UtopiaComponentDemo/node_modules
UtopiaReactJS/node_modules
UtopiaReactJS/index.js
UtopiaReactJSDemo/node_modules

utopia-component.tar.gz
utopia-js-component.tar.gz

utopia-api/dist
utopia-api/node_modules
utopia-api/package-lock.json

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.floo

## Obj-C/Swift specific
*.hmap
*.ipa

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#AppCode
.idea/

# Stupid Mac OS X
.DS_Store
npm-debug.log
editor/npm-debug.log

# Sublime Text
*.sublime-*

# Visual Studio Code
.vscode
*.code-workspace
*/.vs/

# Mocha config.
editor/test/mocha.opts

# Direnv config.
.envrc
.direnv
.direnv.d

# Server executable from the release build.
server/utopia-web
server/utopia-web-test

# Redis
*.rdb

# utopia-api auto-generated typings
utopia-api/index.d.ts
editor/src/components/editor/npm-dependency/utopia-api-typings.ts

# Cache of projects for scripts.
.parse-print-analysis
.github-test-projects

# Database.
pglog.txt
.pglock
utopia-db

# Nix builds.
server-build-result

# Local custom setups.
custom-shell.nix

# Benchmark results.
editor/benchmark
