/* this should be loaded from @liveblocks/react-comments/styles.css, but we need to fix the webpack build for that */

.lb-root {
  --lb-radius: 0.5em;
  --lb-spacing: 1em;
  --lb-accent: #17f;
  --lb-accent-foreground: #fff;
  --lb-background: #fff;
  --lb-foreground: #111;
  --lb-icon-size: 20px;
  --lb-icon-weight: 1.5px;
  --lb-avatar-radius: 50%;
  --lb-button-radius: calc(0.75 * var(--lb-radius));
  --lb-transition-duration: 0.1s;
  --lb-transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --lb-elevation-shadow: 0 0 0 1px #0000000a, 0 2px 6px #00000014, 0 8px 26px #0000001f;
  --lb-tooltip-shadow: 0 2px 4px #00000014, 0 4px 12px #0000001f;
  --lb-elevation-background: var(--lb-background);
  --lb-elevation-foreground: var(--lb-foreground);
  --lb-tooltip-background: #222;
  --lb-tooltip-foreground: #fff;
  --lb-accent-contrast: 8%;
  --lb-foreground-contrast: 8%;
  --lb-elevation-foreground-contrast: 8%;
  --lb-tooltip-foreground-contrast: 10%;
  --lb-accent-subtle: color-mix(
    in srgb,
    var(--lb-accent),
    var(--lb-background) calc(100% - var(--lb-accent-contrast))
  );
  --lb-accent-moderate: color-mix(
    in srgb,
    var(--lb-accent),
    var(--lb-background)
      calc(100% - (var(--lb-accent-contrast) + 3 * ((100% - var(--lb-accent-contrast)) / 9)))
  );
  --lb-accent-tertiary: color-mix(
    in srgb,
    var(--lb-accent),
    var(--lb-background)
      calc(100% - (var(--lb-accent-contrast) + 5 * ((100% - var(--lb-accent-contrast)) / 9)))
  );
  --lb-accent-secondary: color-mix(
    in srgb,
    var(--lb-accent),
    var(--lb-background)
      calc(100% - (var(--lb-accent-contrast) + 7 * ((100% - var(--lb-accent-contrast)) / 9)))
  );
  --lb-foreground-subtle: color-mix(
    in srgb,
    var(--lb-foreground),
    var(--lb-background) calc(100% - var(--lb-foreground-contrast))
  );
  --lb-foreground-moderate: color-mix(
    in srgb,
    var(--lb-foreground),
    var(--lb-background)
      calc(
        100% - (var(--lb-foreground-contrast) + 3 * ((100% - var(--lb-foreground-contrast)) / 9))
      )
  );
  --lb-foreground-tertiary: color-mix(
    in srgb,
    var(--lb-foreground),
    var(--lb-background)
      calc(
        100% - (var(--lb-foreground-contrast) + 5 * ((100% - var(--lb-foreground-contrast)) / 9))
      )
  );
  --lb-foreground-secondary: color-mix(
    in srgb,
    var(--lb-foreground),
    var(--lb-background)
      calc(
        100% - (var(--lb-foreground-contrast) + 7 * ((100% - var(--lb-foreground-contrast)) / 9))
      )
  );
  --lb-elevation-foreground-subtle: color-mix(
    in srgb,
    var(--lb-elevation-foreground),
    var(--lb-elevation-background) calc(100% - var(--lb-elevation-foreground-contrast))
  );
  --lb-elevation-foreground-moderate: color-mix(
    in srgb,
    var(--lb-elevation-foreground),
    var(--lb-elevation-background)
      calc(
        100% -
          (
            var(--lb-elevation-foreground-contrast) + 3 *
              ((100% - var(--lb-elevation-foreground-contrast)) / 9)
          )
      )
  );
  --lb-elevation-foreground-tertiary: color-mix(
    in srgb,
    var(--lb-elevation-foreground),
    var(--lb-elevation-background)
      calc(
        100% -
          (
            var(--lb-elevation-foreground-contrast) + 5 *
              ((100% - var(--lb-elevation-foreground-contrast)) / 9)
          )
      )
  );
  --lb-elevation-foreground-secondary: color-mix(
    in srgb,
    var(--lb-elevation-foreground),
    var(--lb-elevation-background)
      calc(
        100% -
          (
            var(--lb-elevation-foreground-contrast) + 7 *
              ((100% - var(--lb-elevation-foreground-contrast)) / 9)
          )
      )
  );
  --lb-tooltip-foreground-subtle: color-mix(
    in srgb,
    var(--lb-tooltip-foreground),
    var(--lb-tooltip-background) calc(100% - var(--lb-tooltip-foreground-contrast))
  );
  --lb-tooltip-foreground-moderate: color-mix(
    in srgb,
    var(--lb-tooltip-foreground),
    var(--lb-tooltip-background)
      calc(
        100% -
          (
            var(--lb-tooltip-foreground-contrast) + 3 *
              ((100% - var(--lb-tooltip-foreground-contrast)) / 9)
          )
      )
  );
  --lb-tooltip-foreground-tertiary: color-mix(
    in srgb,
    var(--lb-tooltip-foreground),
    var(--lb-tooltip-background)
      calc(
        100% -
          (
            var(--lb-tooltip-foreground-contrast) + 5 *
              ((100% - var(--lb-tooltip-foreground-contrast)) / 9)
          )
      )
  );
  --lb-tooltip-foreground-secondary: color-mix(
    in srgb,
    var(--lb-tooltip-foreground),
    var(--lb-tooltip-background)
      calc(
        100% -
          (
            var(--lb-tooltip-foreground-contrast) + 7 *
              ((100% - var(--lb-tooltip-foreground-contrast)) / 9)
          )
      )
  );
  overflow-wrap: break-word;
  accent-color: var(--lb-accent);
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lb-root,
.lb-root *,
.lb-root :before,
.lb-root :after {
  box-sizing: border-box;
}
.lb-icon {
  --lb-icon-background: var(--lb-background);
  inline-size: var(--lb-icon-size);
  block-size: var(--lb-icon-size);
  stroke-width: var(--lb-icon-weight);
}
.lb-button {
  --lb-button-background: var(--lb-background);
  all: unset;
  box-sizing: inherit;
  padding: calc(0.25 * var(--lb-spacing));
  border-radius: var(--lb-button-radius);
  background: var(--lb-button-background);
  color: var(--lb-foreground-moderate);
  cursor: pointer;
  user-select: none;
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  justify-content: center;
  align-items: center;
  transition-property: background, color, opacity;
  display: flex;
  position: relative;
}
.lb-button:after {
  content: '';
  border-radius: inherit;
  pointer-events: none;
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  transition-property: box-shadow;
  position: absolute;
  inset: 0;
}
.lb-button:where(:focus-visible) {
  z-index: 1;
}
.lb-button:where(:focus-visible):after {
  box-shadow: var(--lb-background) 0 0 0 2px, var(--lb-accent) 0 0 0 4px;
}
.lb-button:where(:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
}
.lb-button:where(
    :enabled:hover,
    :enabled:focus-visible,
    [aria-expanded='true'],
    [aria-selected='true']
  ) {
  --lb-button-background: var(--lb-foreground-subtle);
  color: var(--lb-foreground-tertiary);
}
.lb-button:where(
    [data-variant='default']:not(
        :is(:enabled:hover, :enabled:focus-visible, [aria-expanded='true'], [aria-selected='true'])
      )
  ) {
  background: 0 0;
}
.lb-button:where([data-variant='primary']) {
  --lb-button-background: var(--lb-accent);
  color: var(--lb-accent-foreground);
}
.lb-button:where([data-variant='primary']):where(
    :enabled:hover,
    :enabled:focus-visible,
    [aria-expanded='true'],
    [aria-selected='true']
  ) {
  --lb-button-background: var(--lb-accent-secondary);
  color: var(--lb-accent-foreground);
}
.lb-button:where([data-variant='outline']) {
  box-shadow: inset 0 0 0 1px var(--lb-foreground-subtle);
  transition-property: background, color, opacity, box-shadow;
}
.lb-button-icon {
  --lb-icon-background: var(--lb-button-background);
}
.lb-dropdown-item-icon {
  color: var(--lb-elevation-foreground-moderate);
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  margin-inline-start: calc(-0.125 * var(--lb-spacing));
  margin-inline-end: calc(0.375 * var(--lb-spacing));
  transition-property: color;
}
.lb-dropdown-item:where(:is([data-highlighted], [data-selected])) :where(.lb-dropdown-item-icon) {
  color: var(--lb-elevation-foreground-tertiary);
}
.lb-composer-suggestions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lb-composer-suggestions-list-item {
  scroll-margin-block: 4px;
}
.lb-composer-mention-suggestions {
  --lb-composer-mention-suggestion-avatar-size: 1.25rem;
}
.lb-composer-mention-suggestion {
  padding: calc(0.375 * var(--lb-spacing)) calc(0.625 * var(--lb-spacing));
}
.lb-composer-mention-suggestion-avatar {
  inline-size: var(--lb-composer-mention-suggestion-avatar-size);
  margin-inline-start: calc(-0.125 * var(--lb-spacing));
  margin-inline-end: calc(0.5 * var(--lb-spacing));
  margin-block: calc(0.125 * var(--lb-spacing));
  background: var(--lb-elevation-foreground-subtle);
  color: var(--lb-elevation-foreground-moderate);
}
@supports (background: -webkit-named-image(i)) {
  .lb-emoji {
    will-change: transform;
    transform: scale(0.825);
  }
}
.lb-emoji-picker-emoji,
.lb-quick-emoji-picker-emoji {
  all: unset;
  box-sizing: inherit;
  aspect-ratio: 1;
  padding: calc(0.375 * var(--lb-spacing));
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.lb-emoji-picker {
  --lb-emoji-picker-padding: 6px;
  --lb-emoji-picker-offset-padding: calc(6px + 0.375 * var(--lb-spacing));
  color: var(--lb-elevation-foreground);
  flex-direction: column;
  block-size: 350px;
  display: flex;
}
.lb-emoji-picker-header {
  border-block-end: 1px solid var(--lb-elevation-foreground-subtle);
  flex: none;
}
.lb-emoji-picker-search-container {
  align-items: center;
  display: flex;
  position: relative;
}
.lb-emoji-picker-search {
  all: unset;
  box-sizing: inherit;
  padding: var(--lb-emoji-picker-offset-padding);
  appearance: textfield;
  background: 0 0;
  outline: none;
  inline-size: 100%;
  padding-inline-start: calc(
    var(--lb-icon-size) + var(--lb-emoji-picker-offset-padding) + 0.375 * var(--lb-spacing)
  );
}
.lb-emoji-picker-search::placeholder {
  color: var(--lb-foreground-moderate);
}
.lb-emoji-picker-search::-webkit-search-cancel-button {
  display: none;
}
.lb-emoji-picker-search-icon {
  color: var(--lb-elevation-foreground-moderate);
  pointer-events: none;
  position: absolute;
  inset-inline-start: var(--lb-emoji-picker-offset-padding);
}
.lb-emoji-picker-content {
  flex: 1;
  position: relative;
}
.lb-emoji-picker-loading,
.lb-emoji-picker-empty,
.lb-emoji-picker-error {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}
.lb-emoji-picker-loading {
  color: var(--lb-elevation-foreground-moderate);
}
.lb-emoji-picker-empty,
.lb-emoji-picker-error {
  padding: var(--lb-spacing);
  color: var(--lb-elevation-foreground-tertiary);
  text-align: center;
  text-wrap: balance;
  font-size: 0.875em;
}
.lb-emoji-picker-category-header {
  padding: var(--lb-emoji-picker-padding) var(--lb-emoji-picker-offset-padding);
  background: var(--lb-elevation-background);
}
.lb-emoji-picker-category-header-title {
  color: var(--lb-elevation-foreground-tertiary);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}
.lb-emoji-picker-grid {
  animation: lb-animation-appear var(--lb-transition-duration) var(--lb-transition-easing) both;
  position: absolute;
  inset: 0;
}
.lb-emoji-picker-row {
  padding-inline: 6px;
  scroll-margin-block: 6px;
  display: flex;
}
.lb-emoji-picker-row:where([data-last]) {
  padding-block-end: 6px;
}
.lb-emoji-picker-emoji {
  border-radius: calc(var(--lb-radius) - 0.75 * 6px);
}
.lb-quick-emoji-picker {
  display: flex;
}
.lb-tooltip {
  min-block-size: calc(calc(1em + 2 * 0.25 * var(--lb-spacing)) + 2 * 5px);
  padding-inline: calc(0.75 * var(--lb-spacing));
  border-radius: var(--lb-radius);
  background: var(--lb-tooltip-background);
  color: var(--lb-tooltip-foreground);
  box-shadow: var(--lb-tooltip-shadow);
  pointer-events: none;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1;
  display: flex;
}
.lb-tooltip\:multiline {
  padding-block: calc(calc(0.625 * var(--lb-spacing)) * (1 / 1.5));
  text-align: center;
  justify-content: center;
  line-height: 1.5;
}
.lb-tooltip-shortcut {
  gap: calc(0.125 * var(--lb-spacing));
  block-size: calc(1em + 2 * 0.25 * var(--lb-spacing));
  padding-inline: calc(0.25 * var(--lb-spacing));
  border-radius: calc(var(--lb-radius) - 0.625 * 5px);
  background: var(--lb-tooltip-foreground-subtle);
  color: var(--lb-tooltip-foreground-tertiary);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-inline-start: calc(0.75 * var(--lb-spacing));
  margin-inline-end: calc(-1 * calc(0.75 * var(--lb-spacing)) + 5px);
  font-family: inherit;
  line-height: 1;
  display: flex;
}
.lb-tooltip-shortcut :where(abbr) {
  all: unset;
}
.lb-avatar {
  aspect-ratio: 1;
  border-radius: var(--lb-avatar-radius);
  background: var(--lb-foreground-subtle);
  color: var(--lb-foreground-moderate);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
}
.lb-avatar:where([data-loading]) {
  background: var(--lb-foreground);
  opacity: 0.12;
}
.lb-avatar-image {
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
  position: absolute;
  inset: 0;
}
.lb-avatar-fallback {
  white-space: nowrap;
  font-size: 35cqi;
  font-weight: 500;
}
@supports not (container-type: inline-size) {
  .lb-avatar-fallback {
    display: none;
  }
}
.lb-user:where([data-loading]):before {
  content: '﻿';
  vertical-align: middle;
  border-radius: calc(0.5 * var(--lb-radius));
  opacity: 0.12;
  user-select: none;
  background: currentColor;
  block-size: 1.75ex;
  inline-size: 8ch;
  display: inline-block;
}
:is(.lb-avatar, .lb-user):where([data-loading]) {
  animation: 8s linear infinite lb-animation-shimmer;
}
:is(.lb-comment-body, .lb-composer-editor) {
  color: var(--lb-foreground-secondary);
}
:is(.lb-comment-body, .lb-composer-editor) :where(p) {
  margin-block: 0.25em;
}
:is(.lb-comment-body, .lb-composer-editor) :where(p):where(:first-of-type) {
  margin-block-start: 0;
}
:is(.lb-comment-body, .lb-composer-editor) :where(p):where(:last-of-type) {
  margin-block-end: 0;
}
:is(.lb-comment-body, .lb-composer-editor) :where(strong) {
  font-weight: 600;
}
:is(.lb-comment-body, .lb-composer-editor) :where(code) {
  border-radius: calc(0.75 * var(--lb-radius));
  background: var(--lb-foreground-subtle);
  box-decoration-break: clone;
  padding: 0.2em 0.4em;
  font-size: 85%;
  line-height: 1;
}
:is(.lb-comment-body, .lb-composer-editor) :where(span:has(code) + span code) {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  padding-inline-start: 0;
}
:is(.lb-comment-body, .lb-composer-editor) :where(span:has(code):has(+ span code) code) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  padding-inline-end: 0;
}
:where(:is(.lb-comment-body, .lb-composer-editor) code) {
  font-family: ui-monospace, Menlo, Monaco, Roboto Mono, Cascadia Code, Source Code Pro, Consolas,
    DejaVu Sans Mono, monospace;
}
.lb-comment-mention,
.lb-composer-mention {
  color: var(--lb-accent);
  box-decoration-break: clone;
  font-weight: 500;
}
:is(.lb-comment-link, .lb-composer-link) {
  color: var(--lb-foreground);
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  text-decoration-line: underline;
  text-decoration-color: var(--lb-foreground-moderate);
  text-underline-offset: 2px;
  outline: none;
  font-weight: 500;
  transition-property: color, text-decoration-color;
}
:is(.lb-comment-link, .lb-composer-link):where(:hover, :focus-visible) {
  color: var(--lb-accent);
  text-decoration-color: var(--lb-accent-moderate);
}
.lb-comment-mention:where([data-self]),
.lb-composer-mention {
  border-radius: calc(0.675 * var(--lb-radius));
  background: var(--lb-accent-subtle);
  padding: 0.1em 0.3em;
}
.lb-composer {
  background: var(--lb-background);
  color: var(--lb-foreground);
}
.lb-composer-form {
  margin: 0;
}
@supports selector(:has(*)) {
  .lb-composer:where(:has(.lb-composer-editor:not(:focus-visible)))
    :where(.lb-button[data-variant='primary']) {
    --lb-button-background: var(--lb-foreground-subtle);
    color: var(--lb-foreground-tertiary);
  }
  .lb-composer:where(:has(.lb-composer-editor:not(:focus-visible)))
    :where(.lb-button[data-variant='primary']):where(:enabled:hover, :enabled:focus-visible) {
    --lb-button-background: var(--lb-accent);
    color: var(--lb-accent-foreground);
  }
}
@supports not selector(:has(*)) {
  .lb-composer:where(:not(:focus-within)) :where(.lb-button[data-variant='primary']) {
    --lb-button-background: var(--lb-foreground-subtle);
    color: var(--lb-foreground-tertiary);
  }
  .lb-composer:where(:not(:focus-within))
    :where(.lb-button[data-variant='primary']):where(:enabled:hover, :enabled:focus-visible) {
    --lb-button-background: var(--lb-accent);
    color: var(--lb-accent-foreground);
  }
}
.lb-composer-editor {
  padding: var(--lb-spacing);
  outline: none;
}
.lb-composer-editor :where([data-placeholder]) {
  color: var(--lb-foreground-moderate);
}
.lb-composer-mention::selection,
.lb-composer-mention ::selection {
  background: 0 0;
}
.lb-composer-mention:where([data-selected]) {
  background: var(--lb-accent);
  color: var(--lb-accent-foreground);
}
.lb-composer-footer {
  gap: calc(0.75 * var(--lb-spacing));
  block-size: calc(calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size)) + var(--lb-spacing));
  padding: 0 var(--lb-spacing) var(--lb-spacing);
  align-items: center;
  display: flex;
}
.lb-composer-actions,
.lb-composer-editor-actions {
  gap: calc(0.125 * var(--lb-spacing));
  align-items: center;
  display: flex;
}
.lb-composer-editor-actions {
  margin-inline-end: auto;
}
.lb-composer-attribution {
  color: var(--lb-foreground-moderate);
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  outline: none;
  transition-property: color;
}
.lb-composer-attribution:where(:hover, :focus-visible) {
  color: var(--lb-foreground-tertiary);
}
.lb-composer-attribution :where(svg) {
  block-size: calc(0.75 * calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size)));
}
.lb-composer:where(:not([data-collapsed])) :where(.lb-composer-editor) {
  padding-block-end: calc(0.875 * var(--lb-spacing));
}
.lb-comment {
  --lb-comment-avatar-size: calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size));
  padding: var(--lb-spacing);
  background: var(--lb-background);
  color: var(--lb-foreground);
  font-weight: 400;
  position: relative;
}
.lb-comment-header {
  gap: calc(0.75 * var(--lb-spacing));
  block-size: var(--lb-comment-avatar-size);
  align-items: center;
  margin-block-end: calc(0.75 * var(--lb-spacing));
  display: flex;
  position: relative;
}
.lb-comment-details {
  gap: calc(0.75 * var(--lb-spacing));
  align-items: center;
  min-inline-size: 0;
  display: flex;
}
.lb-comment-avatar {
  inline-size: var(--lb-comment-avatar-size);
  flex: none;
}
.lb-comment-details-labels {
  gap: calc(0.5 * var(--lb-spacing));
  align-items: baseline;
  min-inline-size: 0;
  display: flex;
}
.lb-comment-author {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  overflow: hidden;
}
.lb-comment-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--lb-foreground-tertiary);
  font-size: 0.875em;
  overflow: hidden;
}
.lb-comment-date-timestamp,
.lb-comment-date-edited {
  display: contents;
}
.lb-comment-actions {
  gap: calc(0.125 * var(--lb-spacing));
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  margin-inline-start: auto;
  transition-property: opacity;
  display: flex;
}
.lb-comment-composer {
  margin: calc(-1 * var(--lb-spacing));
}
.lb-comment-body :where() {
  content: '﻿';
  user-select: none;
}
.lb-comment-reactions {
  gap: calc(0.375 * var(--lb-spacing));
  flex-wrap: wrap;
  margin-block-start: calc(0.75 * var(--lb-spacing));
  display: flex;
}
.lb-comment-reaction {
  gap: calc(0.375 * var(--lb-spacing));
  block-size: calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size));
  padding-inline: calc(0.575 * var(--lb-spacing));
  border-radius: 9999px;
}
.lb-comment-reaction:where([data-self]) {
  background: var(--lb-accent-subtle);
  color: var(--lb-accent-secondary);
  box-shadow: inset 0 0 0 1px var(--lb-accent-moderate);
}
.lb-comment-reaction:where([data-self]):where(
    :enabled:hover,
    :enabled:focus-visible,
    [aria-expanded='true'],
    [aria-selected='true']
  ) {
  color: var(--lb-accent);
}
.lb-comment-reaction-count {
  font-variant-numeric: tabular-nums;
  font-size: 0.75em;
  font-weight: 500;
}
.lb-comment-reaction-tooltip {
  max-inline-size: 200px;
}
.lb-comment-deleted {
  color: var(--lb-foreground-tertiary);
  font-size: 0.875em;
}
.lb-comment\:indent-content {
  min-block-size: calc(var(--lb-comment-avatar-size) + 2 * var(--lb-spacing));
}
.lb-comment\:indent-content :where(.lb-comment-header) {
  block-size: calc(2 * 0.25 * var(--lb-spacing) + var(--lb-icon-size));
  margin-block-end: calc(0.25 * var(--lb-spacing));
}
.lb-comment\:indent-content :where(.lb-comment-avatar) {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
}
.lb-comment\:indent-content :where(.lb-comment-details-labels) {
  margin-inline-start: calc(var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing));
}
.lb-comment\:indent-content :where(.lb-comment-content) {
  padding-inline-start: calc(var(--lb-comment-avatar-size) + 0.75 * var(--lb-spacing));
}
.lb-thread {
  background: var(--lb-background);
  color: var(--lb-foreground);
}
.lb-thread-comments {
  flex-direction: column;
  display: flex;
}
.lb-thread-comment {
  padding-block: calc(0.5 * var(--lb-spacing));
}
.lb-thread-comment:where(.lb-comment\:indent-content) {
  min-block-size: calc(var(--lb-comment-avatar-size) + var(--lb-spacing));
}
.lb-thread-comment:where(:first-of-type) {
  padding-block-start: var(--lb-spacing);
}
.lb-thread-comment:where(:first-of-type):where(.lb-comment\:indent-content) {
  min-block-size: calc(var(--lb-comment-avatar-size) + 1.5 * var(--lb-spacing));
}
.lb-thread-comment:where(:last-of-type) {
  padding-block-end: var(--lb-spacing);
}
.lb-thread-comment:where(:last-of-type) :where(.lb-comment-body) {
  margin-block-end: calc(0.25 * var(--lb-spacing));
}
.lb-thread-comment:where(:last-of-type):where(.lb-comment\:indent-content) {
  min-block-size: calc(var(--lb-comment-avatar-size) + 1.75 * var(--lb-spacing));
}
.lb-thread-composer {
  position: relative;
}
.lb-thread-composer:after {
  content: '';
  border-block-start: 1px solid var(--lb-foreground-subtle);
  pointer-events: none;
  block-size: 100%;
  inline-size: 100%;
  position: absolute;
  inset: 0;
}
.lb-elevation {
  border-radius: var(--lb-radius);
  background: var(--lb-elevation-background);
  box-shadow: var(--lb-elevation-shadow);
  position: relative;
  overflow: hidden;
}
.lb-elevation:after {
  content: '';
  z-index: 1;
  border-radius: inherit;
  box-shadow: var(--lb-inset-shadow);
  pointer-events: none;
  position: absolute;
  inset: 0;
}
.lb-dropdown,
.lb-composer-suggestions,
.lb-quick-emoji-picker {
  padding: 4px;
}
.lb-dropdown-item,
.lb-composer-suggestions-list-item {
  padding: calc(0.25 * var(--lb-spacing)) calc(0.5 * var(--lb-spacing));
  align-items: center;
  font-size: 0.875rem;
  display: flex;
}
.lb-dropdown-item,
.lb-composer-suggestions-list-item,
.lb-emoji-picker-emoji,
.lb-quick-emoji-picker-emoji {
  border-radius: calc(var(--lb-radius) - 0.75 * 4px);
  color: var(--lb-elevation-foreground-secondary);
  cursor: pointer;
  user-select: none;
  transition-timing-function: var(--lb-transition-easing);
  transition-duration: var(--lb-transition-duration);
  outline: none;
  transition-property: background, color, opacity;
}
.lb-emoji-picker-emoji {
  font-size: 1.6em;
}
:is(.lb-dropdown-item, .lb-composer-suggestions-list-item, .lb-emoji-picker-emoji):where(
    [data-highlighted],
    [data-selected]
  ),
.lb-quick-emoji-picker-emoji:where(:enabled:hover, :enabled:focus-visible) {
  background: var(--lb-elevation-foreground-subtle);
  transition-duration: calc(var(--lb-transition-duration) / 2);
}
.lb-dropdown,
.lb-composer-suggestions,
.lb-tooltip,
.lb-emoji-picker,
.lb-quick-emoji-picker {
  animation-duration: var(--lb-transition-duration);
  animation-timing-function: var(--lb-transition-easing);
  will-change: transform, opacity;
}
:is(
    .lb-dropdown,
    .lb-emoji-picker,
    .lb-quick-emoji-picker,
    .lb-tooltip:where([data-state='delayed-open'])
  ):where([data-side='top']) {
  animation-name: lb-animation-slide-up;
}
:is(
    .lb-dropdown,
    .lb-emoji-picker,
    .lb-quick-emoji-picker,
    .lb-tooltip:where([data-state='delayed-open'])
  ):where([data-side='bottom']) {
  animation-name: lb-animation-slide-down;
}
:is(.lb-dropdown, .lb-emoji-picker, .lb-quick-emoji-picker, .lb-tooltip):where(
    [data-state='closed']
  ) {
  animation-name: lb-animation-disappear;
}
.lb-composer-suggestions:where([data-side='top']) {
  animation-name: lb-animation-slide-up;
}
.lb-composer-suggestions:where([data-side='bottom']) {
  animation-name: lb-animation-slide-down;
}
@keyframes lb-animation-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes lb-animation-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes lb-animation-appear {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lb-animation-disappear {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes lb-animation-shimmer {
  0%,
  to {
    mask-image: linear-gradient(90deg, #00000080, #000, #000, #00000080);
    mask-size: 400% 100%;
  }
  0% {
    mask-position: 200% 0;
  }
  to {
    mask-position: -200% 0;
  }
}
@media (hover: hover) {
  .lb-comment:where(.lb-comment\:show-actions-hover) :where(.lb-comment-actions) {
    opacity: 0;
  }
  .lb-comment:where(.lb-comment\:show-actions-hover):where(
      :is(:hover, :focus-within, .lb-comment\:action-open)
    )
    :where(.lb-comment-actions),
  .lb-thread:where(.lb-thread\:show-actions-hover :is(:hover, :focus-within))
    :where(.lb-thread-actions) {
    opacity: 1;
  }
}
@media (prefers-reduced-motion) {
  .lb-dropdown:where(:not([data-state='closed'])),
  .lb-emoji-picker:where(:not([data-state='closed'])),
  .lb-quick-emoji-picker:where(:not([data-state='closed'])),
  .lb-tooltip:where([data-state='delayed-open']:not([data-state='closed'])),
  .lb-composer-suggestions {
    animation-name: lb-animation-appear;
  }
}
