/* font */

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* actual editor */

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, 'Segoe UI', Roboto, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; /* from GitHub */
  font-size: 11px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  cursor: default;
  outline: none;
  overscroll-behavior-x: contain;
}

div,
span,
img,
ul,
li,
label {
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box !important;
}

.react-error-overlay-allow-text-selection,
.react-error-overlay-allow-text-selection,
.react-error-overlay-allow-text-selection span,
.react-error-overlay-allow-text-selection div,
.react-error-overlay-allow-text-selection pre {
  user-select: text;
  cursor: text;
}

input {
  box-sizing: border-box;
  outline: none;
  font-family: Inter;
  font-size: 11px;
}

span:focus,
div:focus,
label:focus,
button:focus,
input:focus,
img:focus,
svg:focus {
  outline: none;
}

#application-wrapper {
  display: flex;
  flex-direction: row;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
}

#nodegraph-and-canvas-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex: 1;
  width: 100%;
}

.input-props-editor {
  height: 33%;
}

.zoom-panel {
  padding: 2px 10px 2px 0px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  color: white;
  align-self: center;
}

.zoom-out-btn,
.zoom-in-btn {
  padding: 2px 4px;
}

.canvas-zoom {
  padding: 0px 4px 3px 4px;
  text-align: center;
}

/* todo put this near the contexify CSS after figuring out where _that_ lives */
.shortcut {
  float: right;
}

.fadeout {
  /* this time needs slightly exceed the toast visibility duration
     otherwise any delay for queued-up toasts causes issues */
  animation: fadeout 5.8s;
  animation-iteration-count: 1;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: initial;
  }
  100% {
    opacity: 0;
    transform: translateX(1200px);
  }
}

@keyframes bounceup {
  10% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(600px);
  }
}

@keyframes flipin {
  0% {
    transform: rotateX(90deg);
  }
  10% {
    transform: rotateX(0deg);
  }
  90% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
/* todo put this near the contexify CSS after figuring out where _that_ lives */

.node-graph {
  overflow: hidden;
  display: flex;
  height: 200px;
}

.cm-s-utopia-light {
  height: 600px;
}

.script-code-editor-top {
  display: flex;
  flex-direction: row;
}

.code-editor {
  display: flex;
  flex-direction: column;
}

.canvas-hidden {
  width: 0px !important;
  flex: 0 !important;
}

.script-editor-button {
  margin-right: 0;
  margin-left: auto;
}

.utopia-list {
  position: relative;
  width: 200px;
  height: 190px;
  overflow-y: scroll;
}

.utopia-list-item {
  font-size: 14px;
  height: 33px;
}

.utopia-list-item.utopia-focused {
  color: white;
  background-color: #007aff;
}

.utopia-list-item-subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.modal-dialog-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog-click-catcher {
  width: 100%;
  height: 100%;
}

.publish-dialog {
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  margin-left: -250px;
  margin-top: -350px;
}

.publish-dialog-title {
  letter-spacing: 0.4px;
  color: #0f91e4;
}

.publish-dialog-publish-btn {
  background-image: linear-gradient(0deg, #1b91e4 0%, #49b8fc 100%);
}

.publish-dialog-private-btn {
  background-image: linear-gradient(-33deg, #dba95b 0%, #ffd558 100%);
  box-shadow: 0 4px 11px 0 rgba(255, 201, 20, 0.28);
}

.publish-dialog-rn-btn {
  background-image: linear-gradient(0deg, #1b91e4 0%, #49b8fc 100%);
}

.publish-dialog-codepen-btn {
  background-image: linear-gradient(-33deg, #dba95b 0%, #ffd558 100%);
  box-shadow: 0 4px 11px 0 rgba(255, 201, 20, 0.28);
}

.publish-dialog-own-repo-btn {
  border: 1px solid #ffc914;
  color: #ffc914;
}

.publish-dialog-console {
  color: white;
  font-family: akkurat, akkurat-mono, monospace;
  line-height: 17px;
  user-select: all;
  max-height: 100px;
  overflow-y: scroll;
}

.examples-dialog {
  width: 100%;
  height: 100%;
}

.examples-image {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
