::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: 'utopian-inter';
  font-size: 11px;
  letter-spacing: 0.2px;
  line-height: 17px;
}

a {
  color: '#007AFF';
}
