body {
  margin: 0;
  font-family: utopian-inter, -apple-system, BlinkMacSystemFont, Helvetica, 'Segoe UI', Roboto,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; /* from GitHub */
  font-size: 11px !important;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  cursor: default;
  outline: none;
  overscroll-behavior-x: contain;
}

.react-error-overlay-allow-text-selection,
.react-error-overlay-allow-text-selection,
.react-error-overlay-allow-text-selection span,
.react-error-overlay-allow-text-selection div,
.react-error-overlay-allow-text-selection pre {
  user-select: text;
  cursor: text;
}

input {
  box-sizing: border-box;
  outline: none;
  font-family: utopian-inter;
  font-size: 11px;
}

span:focus,
div:focus,
label:focus,
button:focus,
input:focus,
img:focus,
svg:focus {
  outline: none;
}

#application-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
}

/* todo put this near the contexify CSS after figuring out where _that_ lives */
.shortcut {
  float: right;
}

.fadeout {
  /* this time needs slightly exceed the toast visibility duration
     otherwise any delay for queued-up toasts causes issues */
  animation: fadeout 5.8s;
  animation-iteration-count: 1;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: initial;
  }
  100% {
    opacity: 0;
    transform: translateX(1200px);
  }
}
