.react-contexify {
  z-index: 99999;
  position: fixed;
  opacity: 0;
  user-select: none;
  border-radius: 1px;
  background-color: var(--contextmenu-background);
  box-sizing: border-box;
  box-shadow: rgb(218 218 218 / 30%) -1px 3px 4px 0px, inset 0px 0px 0px 1px hsl(0deg 0% 90%);
  padding: 4px 2px;
}
.react-contexify .react-contexify__submenu {
  position: absolute;
  /* negate padding */
  top: -4px;
  pointer-events: none;
  transition: opacity 0.275s;
}

.react-contexify__submenu-arrow {
  font-size: 10px;
  position: absolute;
  right: 6px;
  line-height: 12px;
}

.react-contexify__separator {
  width: 100%;
  height: 1px;
  cursor: default;
  padding: 0px;
  background-color: var(--contextmenu-separator);
}

.react-contexify__item {
  font-size: 11px;
  font-weight: 500; /* medium */
  cursor: default;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}
.react-contexify__item:not(.react-contexify__item--disabled):hover
  > .react-contexify__item__content {
  color: var(--contextmenu-highlightForeground);
  background-color: var(--contextmenu-highlightBackground);
  border-radius: 2px;
}
.react-contexify__item:not(.react-contexify__item--disabled):hover > .react-contexify__submenu {
  pointer-events: initial;
  opacity: 1;
}
.react-contexify__item--disabled {
  cursor: default;
  opacity: 0.67;
}
.react-contexify__item__content {
  min-width: 190px;
  padding: 4px 12px;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  color: var(--contextmenu-foreground);
}
.react-contexify__item__icon {
  font-size: inherit;
  margin-right: 6px;
}

@keyframes react-contexify__scaleIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
@keyframes react-contexify__scaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.react-contexify__will-enter--scale {
  transform-origin: top left;
  animation: react-contexify__scaleIn 0.3s;
}

.react-contexify__will-leave--scale {
  transform-origin: top left;
  animation: react-contexify__scaleOut 0.3s;
}

@keyframes react-contexify__fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes react-contexify__fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.react-contexify__will-enter--fade {
  animation: react-contexify__fadeIn 0.3s ease;
}

.react-contexify__will-leave--fade {
  animation: react-contexify__fadeOut 0.3s ease;
}

@keyframes react-contexify__flipInX {
  from {
    transform: perspective(800px) rotate3d(1, 0, 0, 45deg);
  }
  to {
    transform: perspective(800px);
  }
}
@keyframes react-contexify__flipOutX {
  from {
    transform: perspective(800px);
  }
  to {
    transform: perspective(800px) rotate3d(1, 0, 0, 45deg);
    opacity: 0;
  }
}
.react-contexify__will-enter--flip {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  transform-origin: top center;
  animation: react-contexify__flipInX 0.3s;
}

.react-contexify__will-leave--flip {
  transform-origin: top center;
  animation: react-contexify__flipOutX 0.3s;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes react-contexify__slideIn {
  from {
    opacity: 0;
    transform: scale3d(1, 0.3, 1);
  }
  to {
    opacity: 1;
  }
}
@keyframes react-contexify__slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(1, 0.3, 1);
  }
}
.react-contexify__will-enter--slide {
  transform-origin: top center;
  animation: react-contexify__slideIn 0.3s;
}

.react-contexify__will-leave--slide {
  transform-origin: top center;
  animation: react-contexify__slideOut 0.3s;
}
