<!DOCTYPE html>
<html lang="en">
  <head>
    <!--ogTags-->

    <link
      rel="preload"
      type="image/png"
      href="<%- UTOPIA_DOMAIN %>/editor/pyramid_fullsize@2x.png?hash=<%- UTOPIA_SHA %>"
      as="image"
    />

    <!--editorScript-->
    <% if (VITE) { %>
    <script defer type="module" src="/preview/preview.tsx"></script>
    <% } %>

    <!--preloadProjectDependencies-->

    <style>
      @keyframes animation-keyframes {
        from {
          transform: translateX(-212px);
        }
        to {
          transform: translateX(0px);
        }
      }

      .animation-progress {
        animation-name: animation-keyframes;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    </style>
  </head>
  <body>
    <!--projectIDScript-->
    <div id="preview">
      <!-- loading content-->
      <div
        style="
          position: fixed;
          left: 0px;
          top: 0px;
          bottom: 0px;
          right: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid beige;
        "
      >
        <img
          src="<%- UTOPIA_DOMAIN %>/editor/pyramid_fullsize@2x.png?hash=<%- UTOPIA_SHA %>"
          height="128px"
          alt="Utopia Logo"
        />

        <div
          class="progress-bar-shell"
          style="
            margin-top: 64px;
            width: 212px;
            height: 11px;
            border: 1px solid black;
            border-radius: 8px;
            overflow: hidden;
            box-sizing: border-box !important;
          "
        >
          <div
            class="progress-bar-progress animation-progress"
            style="
              background-color: black;
              border-radius: 6px;
              height: 9px;
              transform: translateX(-212px);
            "
          />
        </div>
      </div>
      <!-- ends loading content-->
    </div>
    <div id="preview-ui"></div>
  </body>
</html>
