<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ogTags -->
    <link
      rel="stylesheet"
      type="text/css"
      href="%UTOPIA_DOMAIN%/editor/preview.css?hash=%UTOPIA_SHA%"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="%UTOPIA_DOMAIN%/editor/draft.css?hash=%UTOPIA_SHA%"
      crossorigin="anonymous"
    />
    <!-- Begin Generated Utopia External Links -->
    <!-- End Generated Utopia External Links -->
  </head>
  <body>
    <!-- projectIDScript -->
    <div id="preview"></div>
    <div id="preview-ui"></div>
  </body>
</html>
