<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/png"
      href="/editor/icons/favicons/favicon128.png?hash=%UTOPIA_SHA%"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="use-credentials" />
    <link
      rel="stylesheet"
      type="text/css"
      href="%UTOPIA_DOMAIN%/editor/css/utopions.css?hash=%UTOPIA_SHA%"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <span>Project not found. This project may not exist, was only saved locally, or you're not allowed to view it. Ask the owner to check the URL or update the permissions, and refresh this page.</span>
  </body>
</html>
