<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <!-- Disable pinch zooming -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />

    <meta id="vscode-workbench-builtin-extensions" data-settings="[]" />

    <link
      data-name="vs/workbench/workbench.web.api"
      rel="stylesheet"
      href="<%- UTOPIA_DOMAIN %>/vscode/vscode/vs/workbench/workbench.web.api.css?hash=<%- UTOPIA_SHA %>"
    />
    <script src="<%- UTOPIA_DOMAIN %>/vscode/extensions.js?hash=<%- UTOPIA_SHA %>"></script>
  </head>

  <body aria-label=""></body>

  <script>
    const extElement = document.getElementById('vscode-workbench-builtin-extensions')
    extElement.attributes['data-settings'].value = JSON.stringify([...extensions])

    let baseUri = `<%- VSCODE_DOMAIN %>/vscode`
    self.require = {
      baseUrl: `${baseUri}/vscode/`,
      paths: {
        'utopia-vscode-common': `${baseUri}/lib/utopia-vscode-common/dist/browser/utopia-vscode-common.js`,
        'vscode-textmate': `${baseUri}/lib/vscode-textmate/release/main`,
        'vscode-oniguruma': `${baseUri}/lib/vscode-oniguruma/release/main`,
        'semver-umd': `${baseUri}/lib/semver-umd/lib/semver-umd.js`,
      },
    }
  </script>
  <script src="<%- UTOPIA_DOMAIN %>/vscode/vscode/vs/loader.js?hash=<%- UTOPIA_SHA %>"></script>

  <script src="<%- UTOPIA_DOMAIN %>/vscode/vscode/vs/workbench/workbench.web.api.nls.js?hash=<%- UTOPIA_SHA %>"></script>
  <script src="<%- UTOPIA_DOMAIN %>/vscode/vscode/vs/workbench/workbench.web.api.js?hash=<%- UTOPIA_SHA %>"></script>
  <script src="<%- UTOPIA_DOMAIN %>/vscode/vscode/vs/code/browser/workbench/workbench.js?hash=<%- UTOPIA_SHA %>"></script>
  <link rel="stylesheet" href="<%- UTOPIA_DOMAIN %>/editor/css/vscode-overrides.css" />
</html>
