APP_ENV="local"
BACKEND_URL="http://127.0.0.1:8001"
CORS_ORIGIN="http://localhost:8000"
DATABASE_URL="postgres://<username>:postgres@localhost:5432/utopia"
REACT_APP_EDITOR_URL="http://localhost:8000"

AUTH0_ENDPOINT=""
AUTH0_CLIENT_ID=""
AUTH0_REDIRECT_URI=""

FGA_STORE_ID=""
FGA_CLIENT_ID=""
FGA_SECRET=""

GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_REDIRECT_URL=""
