<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/png"
      href="<%- UTOPIA_DOMAIN %>/editor/icons/favicons/favicon-192.png?hash=<%- UTOPIA_SHA %>"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="use-credentials" />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%- UTOPIA_DOMAIN %>/editor/css/utopions.css?hash=<%- UTOPIA_SHA %>"
      crossorigin="anonymous"
    />

    <% if (VITE) { %>
    <script defer type="module" src="/project-not-found/not-found-entry-point.tsx"></script>
    <% } %>
  </head>
  <body>
    <div id="utopia-editor-root" />
  </body>
</html>
