name: Run Tests On PR Pushes
on: [pull_request]

jobs:
  test-editor:
    name: Test Editor PR
    runs-on: ubuntu-latest
    steps:
      - name: Cancel existing runs on this branch
        uses: fauguste/auto-cancellation-running-action@0.1.4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Cache editor modules
        id: cache-editor-modules
        uses: actions/cache@v2
        with:
          path: editor/node_modules
          key: ${{ runner.os }}-node-editor-PRs-${{ hashFiles('editor/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-editor-PRs-
      - name: Cache editor test result
        id: cache-editor-tests
        uses: actions/cache@v2
        with:
          # For the tests it doesn't really matter what we cache
          path: editor/lib
          key: ${{ runner.os }}-editor-tests-PR-${{ hashFiles('editor/src/**') }}-${{ hashFiles('utopia-api/src/**') }}-${{ hashFiles('editor/package.json') }}-${{ hashFiles('utopia-api/package.json') }}
      - name: Cache utopia-api modules
        uses: actions/cache@v2
        with:
          path: utopia-api/node_modules
          key: ${{ runner.os }}-node-utopia-api-PRs-${{ hashFiles('utopia-api/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-utopia-api-PRs-
      - name: Cache website modules
        id: cache-website-modules
        uses: actions/cache@v2
        with:
          path: website/node_modules
          key: ${{ runner.os }}-node-website-PRs-${{ hashFiles('website/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-website-PRs-
      - name: Install nix
        uses: Rheeseyb/install-nix-action@master
      - name: Install website modules
        if: steps.cache-website-modules.output.cache-hit != 'true'
        run: nix-shell --arg includeServerBuildSupport false --arg includeRunLocallySupport false --run install-website-ci
      - name: Install editor modules
        if: steps.cache-editor-modules.output.cache-hit != 'true'
        run: nix-shell --arg includeServerBuildSupport false --arg includeRunLocallySupport false --run install-editor-ci
      - name: Run the tests
        if: steps.cache-editor-tests.outputs.cache-hit != 'true'
        run: nix-shell --arg includeServerBuildSupport false --arg includeRunLocallySupport false --run test-editor-all-ci
