name: Screenshot Staging
on:
  repository_dispatch:
    types: [trigger-staging-screenshot]
  workflow_dispatch:
  pull_request:

jobs:
  take-screenshot:
    name: Take Screenshot
    runs-on: ubuntu-latest
    steps:
      - name: Cancel existing runs on this branch
        uses: fauguste/auto-cancellation-running-action@0.1.4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Cache .pnpm-store
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install nix
        uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/6120ac5cd201f6cb593d1b80e861be0342495be9.tar.gz
      - name: Run Puppeteer
        id: run-screenshot-test
        env:
          AWS_S3_BUCKET: ${{secrets.PERFORMANCE_GRAPHS_BUCKET}}
          AWS_ACCESS_KEY_ID: ${{ secrets.PERFORMANCE_GRAPHS_ACCESS_KEY}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PERFORMANCE_GRAPHS_SECRET_KEY }}
          AWS_REGION: ${{ secrets.STAGING_BUNDLE_REGION }}
        run: |
          nix-shell --arg includeServerBuildSupport false --arg includeRunLocallySupport false --run "cd puppeteer-tests; pnpm install --unsafe-perm; pnpm run screenshot-test"
      - name: Build Discord Message
        env:
          TEMPLATE: >-
            [
              {
                "title": "Staging:",
                "color": 2369839,
                "image": {
                  "url": $screenshot_url
                }
              }
            ]
          SCREENSHOT_URL: ${{ steps.run-screenshot-test.outputs.screenshot }}
        run: |
          echo "DISCORD_EMBEDS=$(jq -nc --arg screenshot_url "$SCREENSHOT_URL" "$TEMPLATE")" >> $GITHUB_ENV
      - name: Send Discord Notification
        uses: Ilshidur/action-discord@0.3.2
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_BUILD_WEBHOOK }}
          DISCORD_USERNAME: 'Puppeteer'
          DISCORD_AVATAR: https://octodex.github.com/images/puppeteer.png
          MESSAGE: 'Screenshot of latest Staging deploy'
        with:
          args: ${{ env.MESSAGE }}
